DATABASE_NAME=my_database
DATABASE_USER=my_database_user
DATABASE_PASSWORD=my_password
DATABASE_HOST=localhost
DATABASE_PORT=5432

EMAIL_HOST_USER=my_email_host_user
EMAIL_HOST_PASSWORD=my_email_host_password