{% extends 'base.html' %}

{% block title %}Попытки отправки писем{% endblock %}

{% block page_title %}
Попытки отправки писем
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h5 class="mb-4">Список попыток:</h5>
    <table class="table table-striped">
        <thead class="border-1 border-secondary-subtle">
            <tr>
              <th scope="col">Email</th>
              <th scope="col">Рассылка</th>
              <th scope="col">Время отправки</th>
              <th scope="col">Статус</th>
            </tr>
        </thead>
        <tbody class="border-1 border-secondary-subtle">
        {% for attempt in attempts %}
            <tr>
              <td>{{ attempt.customer }}</td>
              <td>{{ attempt.newsletter.name }}</td>
              <td>{{ attempt.created_at }}</td>
              <td>{% if attempt.status == 'success' %}Успешно{% elif attempt.status == 'fail' %}Не успешно{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}