{% extends 'base.html' %}

{% block title %}{{ message.topic }}{% endblock %}

{% block page_title %}
{{ message.topic }}
{% endblock %}

{% block content %}
<div class="text-center">
    <a href="{% url 'mail:messages_list' %}" class="btn btn-sm btn-light ml-3">К списку</a>
    {% if perms.mail.change_message and not user.is_blocked %}
    <a href="{% url 'mail:edit_message' message.pk %}" class="btn btn-sm btn-secondary ml-3">Редактировать</a>
    {% endif %}
    {% if perms.mail.delete_message and not user.is_blocked %}
    <a href="{% url 'mail:delete_message' message.pk %}" class="btn btn-sm btn-outline-secondary ml-1">Удалить</a>
    {% endif %}

    <ul class="list-group mt-5">
        <li class="list-group-item text-start">
            <b>Текст письма</b>: {{ message.text }}
        </li>
    </ul>
</div>
{% endblock %}
