{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block page_title %}
Восстановление пароля
{% endblock %}

{% block content %}
<div class="row text-start">
    <div class="col-lg-6 col-md-8 col-s-12 mx-auto">
        <div class="mb-4">
            <p class="mb-2 mt-2">Поздравляем! Вы успешно изменили пароль своего аккаунта.<br/>Используйте его для  <a class="link-secondary" href="{% url 'users:login' %}">входа в систему</a>.</p>

        </div>
    </div>
</div>
{% endblock %}