{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block page_title %}
Восстановление пароля
{% endblock %}

{% block content %}
<div class="row text-start">
    <div class="col-lg-6 col-md-8 col-s-12 mx-auto">
        <div class="mb-4">
            <p class="mb-2 mt-2">Задайте новый пароль для вашего аккаунта</p>
            <form method="post" class="form-floating">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}