{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block page_title %}
Восстановление пароля
{% endblock %}

{% block content %}
<div class="row text-start">
    <div class="col-lg-6 col-md-8 col-s-12 mx-auto">
        <div class="mb-4">
            <p class="mb-2 mt-2">Укажите Вашу почту, на неё будут отправлены инструкции по восстановлению пароля.</p>
            <form method="post" class="form-floating">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Отправить</button>
                <a href="{% url 'users:login' %}" class="btn btn-outline-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}