{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block page_title %}
Профиль
{% endblock %}

{% block content %}
<div class="row mt-5 text-start">
    <div class="col-lg-8 col-md-6 col-sm-12">
        <div class="mb-4">
            <ul class="list-group">
                <li class="list-group-item text-start">
                    <b>Всего рассылок</b>: {{ newsletters_all }}
                </li>
                <li class="list-group-item text-start">
                    <b>Запущенных рассылок</b>: {{ newsletters_active }}
                </li>
                <li class="list-group-item text-start">
                    <b>Уникальных получателей</b>: {{ unique_customers }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h5 class="my-0 font-weight-normal">Ваши дaнные</h5>
            </div>
            <div class="card-body">
                {% if user.avatar %}
                <img class="img-thumbnail border-5" src="{{ user.avatar.url }}" alt="avatar"/>
                {% endif %}
                <p><b>Имя</b>: {{user.first_name|default:"Не указано"}} {{user.last_name|default:"Не указано"}}</p>
                <p><b>Email</b>: {{user.email}}</p>
                <p><b>Username</b>: {{user.username}}</p>
                <p><b>Телефон</b>: {{user.phone|default:"Не указано"}}</p>
                <p><b>Страна</b>: {{user.country|default:"Не указано"}}</p>
                <a href="{% url 'users:edit_profile' %}" class="btn btn-secondary">Изменить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}