{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block page_title %}
Профиль
{% endblock %}

{% block content %}
<div class="row mt-5 text-start">
    <div class="col-lg-8 col-md-6 col-sm-12">
        <div class="mb-4">
            Тут будет статистика
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h5 class="my-0 font-weight-normal">Ваши дaнные</h5>
            </div>
            <div class="card-body">
                {% if user.avatar %}
                <img class="img-thumbnail border-5" src="{{ user.avatar.url }}" alt="avatar"/>
                {% endif %}
                <p><b>Имя</b>: {{user.first_name}} {{user.last_name}}</p>
                <p><b>Email</b>: {{user.email}}</p>
                <p><b>Username</b>: {{user.username}}</p>
                <p><b>Телефон</b>: {{user.phone}}</p>
                <p><b>Страна</b>: {{user.country}}</p>
                <a href="{% url 'users:edit_profile' %}" class="btn btn-secondary">Изменить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}